@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700|Indie+Flower:100,200,300,400,500,600,700|Audiowide:100,200,300,400,500,600,700|Righteous:100,200,300,400,500,600,700|Kanit:100,200,300,400,500,600,700');


/*------------------------------------Colors/Backgrounds*/

.bg-color-name-title {
    background-color: #676767;
}

.bg-color-audio-smackdown {
    background-color: #010101;
}

.bg-color-video {
    background-color: #2B2B2B;
}


.bg-color-music {
    background-color: #A7C184;
    background-image: url("../images/super_phase1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    padding-bottom: 20px;
} 

.bg-color-contact{
    background-color: #3498db;
}

.ul-menu-color-home {
    background-color: #010101; 
}

.ul-menu-color-shows {
    background-color: #6E181E; 
}

.ul-menu-color-the-band {
    background-color: #2B2B2B;
}

.ul-menu-color-contact {
    background-color: #8A1E25;
}

/*------------------------------------Containers*/

.header-container-fluid {
    padding-left: 0px; 
    padding-right: 0px;
    margin: 0px;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
}

.footer-container-fluid {
    background-color: #010101;
    padding-left: 0px; 
    padding-right: 0px; 
    margin: 0px;
}

/*------------------------------------Special Paddings/Margins/Text*/

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.row-table {
    display: table;
    margin: 0;
}

.row {
    margin: 0;
}


.section-heading {
    font-family: 'Indie Flower', cursive;
    color:#ffffff;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
}

/*------------------------------------Heading*/

.header {
    margin: 0;
    padding: 0;
}

.col-md-8 {
    padding: 0;
    
}

.heading {
    background: url("../images/the_band4.jpg"); 
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 285px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.logo {
    background: url("../images/Sixth Row Img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}


#nav {
    margin: 0;
    
}

#nav li {
   padding: 0;
   margin: 0;
}

.list-inline {
    margin: 0;
}

.menuitem {
    height: 75px;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    padding: 0;
    font-weight: bolder;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

/*------------------------------------Audio Smackdown*/

.audio-smackdown-icon {
    margin-top: 15px;
    padding-left: 30px;
    font-size: 50px;
    color: #5DA95F;
    text-shadow: 2px 4px #8A1E25;
}

.audio-smackdown-heading {
    margin-bottom: 15px;
    margin-top: 15px;
    color: #A7C184;
    font-weight: bolder;
    text-shadow: 2px 2px #8A1E25;
}

.audio-smackdown-text {
    float: left;
    color:#ffffff;
    font-size:17px; 
    text-shadow: 1px 1px #8A1E25;  
    padding-right:15px;
}

/*------------------------------------Audio Music*/

.with-bells-on {
    color:#8A1E25;
    font-size:30px;
    font-weight:bolder; 
    text-shadow: 3px 3px #A7C184; 
    
}

.leave {
    color:#8A1E25;
    font-size:30px;
    font-weight:bolder; 
    text-shadow: 3px 3px #A7C184;
    
}

.for-incineration {
    color:#8A1E25;
    font-size:30px;
    font-weight:bolder; 
    text-shadow: 3px 3px #A7C184;
    
} 

.scared-of-numbers {
    color:#8A1E25;
    font-size:30px;
    font-weight:bolder; 
    text-shadow: 3px 3px #A7C184; 
    
}

.T6R-live {
    color:#8A1E25;
    font-size:30px;
    font-weight:bolder; 
    text-shadow: 3px 3px #A7C184; 
    
}

.audio-player {
    max-width:100%;
    border: 5px solid #8A1E25;
    border-radius: 25px;
}

.music-icon {
    margin-top: 15px;
    padding-left:30px;
    font-size: 50px;
    color: #5DA95F;
    text-shadow: 3px 3px #8A1E25;
}

.music-heading {
    color:#A7C184;
    text-shadow: 3px 3px #8A1E25;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bolder;
    font-size: 50px;
    
}

.music-item {
    margin-bottom: 20px;
    display: block;
    clear: both;
  
}

/*------------------------------------Videos*/

.home-video {
  background-color: #2B2B2B; 
  width: 100%;
  height: 50%;
}

.video {
    width:80%;
    height: 50%; 
    padding-bottom: 20px;
}

.video-icon {
    margin-top: 15px;
    padding-left:30px;
    font-size: 50px;
    color: #5DA95F;
    text-shadow: 2px 2px #8A1E25;
}

.video-heading {
    color: #A7C184;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bolder;
    text-shadow: 2px 2px #8A1E25;
}

.video-text {
    float: left;
    color:#ffffff;
    font-size:17px; 
    text-shadow: 1px 1px #8A1E25;
}

/*------------------------------------Gigs/Members*/

.col-md-4 {
    padding: 0;
    }
    
.flyer1 {
    margin: auto;
    width: 100%;
    height: 100%;
}  

.band-text1{
    color:#A7C184;
    text-shadow: 3px 3px #8A1E25;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bolder;
    font-size: 25px; 
    text-align: center;
}
       
.band-text2{
    color:#8A1E25;
    text-shadow: 3px 3px #A7C184;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bolder;
    font-size: 25px; 
    text-align: center;
}
       
.band-members {
    height: 170px;
    width: 170px;
    border-radius: 50px;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}       

/*------------------------------------Contact*/

.contact-heading {
    font-family: "Exo" , sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 50px;
    margin: 0 auto;
    max-width: 50%;
    height: 0 auto;
    background-color: rgba(255, 0, 0, 0.3);
}

.form-control {
    margin-bottom: 57px;
}

.form-surround {
    color: #A7C184;
    font-weight: bolder;
    text-shadow: 2px 2px #8A1E25;
    
}

/*------------------------------------Footer*/

.footer-image {
    background: url("../images/T6R_Image.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 120px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    text-shadow: 2px 2px #8A1E25;
    width: 50px;
    height: 50px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 26px;
    line-height: 25px;
    text-align: center;
    color: #5DA95F;
    background: #2b2b2b; 
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover{
    background: #8A1E25;
    
}

#footer-details {
    margin: 0px;
}

.btn {
    
    background-color: #5DA95F;
    margin-right: 10px;
    text-shadow: 2px 2px #8A1E25;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}   

.copyright{
    color: #8A1E25;
    margin-top: 20px;
    text-align: center;
    letter-spacing: 3px;
}

.general-sub {
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    color: #fafafa;
}

.inline-block {
    padding-top: 10px;
    display: inline-block;
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    color: #fafafa;    
}

/*------------------------------------Media queries*/

@media(min-width:320px) and (max-width:640px) {
    .video {
        min-width: 100%;
        min-height: 50%;
        
    }
    
   
    .logo {
        display: none;
    }
}